---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
html {
  background:#01323e;
  background: linear_gradient(#01323e, #01323e)
}
  
a {
  color:#d65424;
  }

a:hover {
  text-decoration:underline;
}

header {
  background:#88b9c5;
  background: linear_gradient(#88b9c5, #88b9c5);
  border-bottom: 1px solid #01323e;
  
  h1 {
    font-family: 'Homemade Apple', cursive;
    font-size:34px;
    text-align: center;
    padding: 10px;
    color:#01323e;
    text-shadow:none;
  }
  
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size:16px;
    font-style: italic;
    text-align: center;
    color:#01323e;
    width: auto;
  }
}

section {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:16px;
  text-align:justify;
  background:#e2e2e2;
  background: linear_gradient(#e2e2e2, #e2e2e2);
  border-top: 1px solid #01323e;
  border-bottom: 1px solid #01323e;

  h1, h2, h3, h4, h5 {
  color:#d65424;
  text-align: left;
  }
  
  h6 {
	color:#555;
	font-size:16px;
	text-align:right;
	font-style: italic;
	float: right;
}

h1 {
  font-size:26px;
  margin:0 0 10px;
}

h2 {
  font-size:22px;
}

h3,h4,h5 {
  font-size:20px;
}
}

footer {
	border-radius: 0 0 8px 8px;
	background: #88B9C5;
	background: linear_gradient(#88B9C5, #88B9C5);
	border-top: 1px solid #01323e;
	width:640px;
	margin:0 auto;

  p {
	  font-family: 'Lato', sans-serif;
	  font-weight: 300;
	  font-size: 16px;
	  text-align: center;
	  color: #01323e;
	  width: auto;
  }

  a {
	  color: #D65424;
	  font-weight: 300;

 }

@media print, screen and (max-width: 740px) {
  header {
    border-radius: 0
  }

  h6 {
	  text-align:left;
	  float: none;
  }
}
